<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "CommandPalette", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div 
      x-data="{ open: false }" 
      x-show="open"
      @keydown.meta.k.window.prevent="open = !open"
      @keydown.escape.window="open = false"
      class="fixed inset-0 top-0 z-10 pt-[25vh]"> 
      <div class="fixed inset-0 bg-gray-500/75 opacity-90"></div>
      <div @click.outside="open = false" class="overflow-y-auto relative rounded-xl shadow-2xl max-w-xl mx-auto p-4 bg-white opacity-100 ring-1 ring-black/5">
        <input placeholder="Search..." class="text-2xl w-full focus:outline-none"/>
      </div>
    </div>  
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
